---
import { Button } from "$lib/components/ui/button";
import Layout from "$lib/layouts/Layout.astro";
import { Home } from "lucide-svelte";
---

<Layout title="Erreur 404">
  <div class="grid place-items-center">
    <h1 class="mb-4 text-6xl font-bold">404</h1>
    <p class="mb-8 max-w-md text-center text-muted-foreground">
      Oups ! La page que vous cherchez semble s'être volatilisée. Ne vous
      inquiétez pas, même les meilleurs journalistes poursuivent parfois des
      histoires qui n'existent pas.
    </p>
    <div class="mb-8 flex flex-col gap-4 sm:flex-row">
      <Button variant="default" href="/">
        <Home class="mr-2 h-4 w-4" />
        Retour à l'accueil
      </Button>
    </div>
  </div>
</Layout>
