---
import Footer from "$lib/components/Footer.astro";
import Header from "$lib/components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - HoloNews FR Reader</title>
    <meta
      name="description"
      content="Retrouvez les articles d'HoloNews traduits en français !"
    />
    <meta
      name="keywords"
      content="hololive, news, fr, français, holonews, vtuber"
    />
    <meta name="theme-color" content="#5FDDEF" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={`${title} - HoloNews FR Reader`} />
    <meta
      property="og:description"
      content="Retrouvez les articles d'HoloNews traduits en français !"
    />
    <meta property="og:site_name" content="HoloNews FR Reader" />
  </head>
  <body class="flex min-h-screen flex-col items-center">
    <Header />
    <main class="container mx-auto flex-grow px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  html {
    font-family: system-ui, sans-serif;
  }
</style>
